<a class="btn-floating btn-large waves-effect waves-light grey darken-3 push-right modal-trigger" href="#modal1"><i class="mdi-content-add"></i></a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="action-bar">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close"><i class="mdi-content-clear"></i></a>
    </div>

    <h5 class="center-align">Post a new API</h5>
    <!-- Contents -->

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" class="validate">
            <label for="api_name">API Name</label>
          </div>
          <div class="input-field col s6">
            <input type="text" class="validate">
            <label for="api_doc_url">Documentation URL</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea class="materialize-textarea"></textarea>
            <label for="api_tagline">Tagline</label>
          </div>
        </div>
        <a class="waves-effect waves-light btn-large right"><i class="mdi-action-done-all"></i>Submit</a>
      </form>
    </div>

  </div>


<script type="text/javascript">
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>

