<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo">API Hunt</a>
        <% if current_user %>
        <center>
          <li><%= image_tag(current_user.github_avatar, class: "navbar-image responsive-img circle", size: '40') %></li>
          <li><a class="waves-effect waves-light" href="/signout">Logout</a></li>
        </center>
        <% else %>
          <li><%= link_to "Sign in with Github", "/auth/github" %></li>
        <% end %>

      <!-- Include this line below -->
      <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      <!-- End -->
    </div>

  </div>
</nav>