nav ul li:hover, nav ul li.active {
  background-color: rgba(0, 0, 0, 0.0);
}

.push-right {
  margin-top: -20px;
  float: right;
  position: absolute;
}

.hero{
  background-color:#53A976;
  min-height: 200px;
  margin-top: -30px;
}

.hero h2 {
  color: white;
  padding-top: 75px;
}

.hero p {
  padding-bottom: 75px;
  color: white;
}

.hero a{
  color: white;
}

body {
  padding: none;
  margin: none;
  height: 100%;
  width: 100%;
}

.plus-position{
  margin-top: -40px;
}

.card-name{
  display: inline-block;
}

.card-image {
  display: inline-block;
}